# ignore everything in the root except the "wp-content" directory.
!wp-content/
dist/
# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
plugins/kirki
plugins/customize-kirki-variants
plugins/mailchimp-for-wp
plugins/advanced-custom-fields-pro
plugins/customizer-export-import
plugins/post-smtp
plugins/all-in-one-wp-migration
plugins/all-in-one-wp-migration-unlimited-extension
.vscode
# ignore these plugins
vendor
!wordpress/uploads/
wordpress
# ignore node dependency directories
node_modules

# ignore log files and databases
*.log
*.sqlite

# lock files
wp-content/themes/Wordpress-gulp-webpack-theme/yarn.lock
wp-content/themes/Wordpress-gulp-webpack-theme/package-lock.json
composer.lock

# Logs
logs
*.log
npm-debug.log*
package-lock.json

# node-waf configuration
.lock-wscript

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Jest Coverage
coverage

.history/
package-lock.json
uploads/