.header {
	ul {
		list-style-type: none;
	}
	&__menu {
		@include MediaQuery($md) {
			position: fixed;
			bottom: 0;
			padding: 10px;
			width: 100%;
			left: 0;
			background: #333;
			z-index: 1;
		}
	}
	&-child {
		padding-top: 35px;
		padding-bottom: 50px;
		@include MediaQuery($lg) {
			padding-top: 20px;
			padding-bottom: 15px;
		}
		.header__contain {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			.header__item {
				.logo {
					img {
						// width: 208px;
						// height: 80px;
						width: calc(100% / 3);
						@include MediaQuery($xs) {
							width: 115px;
							height: 45px;
						}
					}
				}
				.menu {
					margin-left: 35px;
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					@include MediaQuery($lg) {
						margin-left: 20px;
					}
					@include MediaQuery($md) {
						margin-left: 0;
						justify-content: space-around;
					}

					&-item {
						margin: 0 20px;
						transition: all 0.25s ease;
						position: relative;
						@include MediaQuery($xs) {
							margin: 0;
						}
						a {
							color: #999999;
							font-size: 30px;
							font-weight: 400;
							font-family: Ultralight;
							transition: all 0.5s ease;
							@include MediaQuery(1280px) {
								font-size: 28px;
							}
							@include MediaQuery($md) {
								color: #fff;
							}
							@include MediaQuery($xs) {
								font-size: 20px;
							}
						}
						&:before {
							content: '';
							height: 5px;
							width: 65%;
							border-radius: 5px;
							background: transparent;
							top: -3px;
							left: 50%;
							position: absolute;
							transition: all 0.25s ease;
							transform: translateX(-50%);
						}
						&:after {
							content: '';
							height: 5px;
							width: 65%;
							border-radius: 5px;
							background: transparent;
							bottom: -3px;
							left: 50%;
							position: absolute;
							transition: all 0.25s ease;
							transform: translateX(-50%);
						}
						&:hover {
							&:before {
								background: #000;
							}
							&:after {
								background: #000;
							}
							a {
								// color: #000;
								font-size: 34px;
								transition: all 0.5s ease;
								background: linear-gradient(
									to left,
									#f9d837,
									#552f7f,
									#552f7f
								);
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
							}
						}
					}
				}
			}
			.toggle {
				margin-left: auto;
				.hamburger {
					margin-left: 40px;
					padding-top: 0px;
					padding: 0px 16px;
					position: absolute;
					top: 0;
					right: 30px;
					height: 91px;
					border-radius: 0px 0px 18px 18px;
					display: flex;
					align-items: center;
					img {
						width: calc(100% / 2);
					}
				}
			}
		}
	}
}
.page-template-Contact {
	.header--home .header__item-lang {
		background-color: transparent;
		.header__item-lang-item {
			color: #000000;
		}
	}
}
